 <footer>
  <div class="row justify-content-center py-5">
         <div class="col-12">
              <div class="row ">
                  <div class="col-xl-5 col-md-6 col-sm-6 col-12   my-auto mx-auto a"><h3 class="text-muted mb-md-0 mb-5 bold-text">Diego Arias</h3></div>
                  <div class="col-xl-5 col-md-6 col-sm-6 col-12"><h6 class="mb-3 mb-lg-4 bold-text "><b>REDES</b></h6><ul class="list-unstyled"><li><a href="#">-Instagram</a></li><a href="#" ><li>-GitHub</li></a><li><a href="#">-LinkedIN</a></li></ul></div>
              </div>
              <div class="row">
                  <div class="col-xl-8 col-md-4 col-sm-4 col-auto align-self-end"><small class="rights"><span></span>  Argentina Programa 2022</small></div>
                  <div class="col-xl-2 col-md-4 col-sm-4 col-auto align-self-end "><h6 class="mt-55 mt-2 text-muted bold-text"><b>Email</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> ariasdiego027@gmail.com</small></div>
              </div>
          </div>
        </div>
  </footer>



