 <footer>
  <div class="row justify-content-center py-5">
         <div class="col-12">
              <div class="row ">
                  <div class="col-xl-5 col-md-6 col-sm-6 col-12   my-auto mx-auto a"><h3>Diego Arias</h3></div>
                  <div class="col-xl-5 col-md-6 col-sm-6 col-12"><h6 class="mb-3 mb-lg-4 bold-text "><b>REDES</b></h6><ul class="list-unstyled"><li><a href="https://www.instagram.com/invites/contact/?i=1xknaob2t4ogo&utm_content=1fc5eh2" target="_blank">-Instagram</a></li><a href="https://github.com/Diegoar027" target="_blank"><li>-GitHub</li></a><li><a href="https://www.linkedin.com/in/diego-arias-168770246" target="_blank">-LinkedIN</a></li></ul></div>
              </div>
              <div class="row">
                  <div class="col-xl-5 col-md-6 col-sm-6 col-12   my-auto mx-auto a"><small class="rights"><span></span> © Argentina Programa 2022</small></div>
                  <div class="col-xl-5 col-md-6 col-sm-6 col-12 "><h6 class="mt-55 mt-2 text-muted bold-text"><b>Email</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> ariasdiego027@gmail.com</small></div>
              </div>
          </div>
        </div>
  </footer>



