<div class="row">
    <div class="container">
      <div class="logo-ap">
      <img src="../../../assets/APLogo.png" alt="Logo AP" id="logoAP">
      </div>

    <div class="redes-sociales">
      <a href="https://www.facebook.com/diego.arias.545402" target="_blank"><img src="../../../assets/facebook.png" alt="facebook"></a>
      <a href="https://github.com/Diegoar027" target="_blank"><img src="../../../assets/github.png" alt="github"></a>
      <a href="https://www.instagram.com/invites/contact/?i=1xknaob2t4ogo&utm_content=1fc5eh2" target="_blank"><img src="../../../assets/instagram.png" alt="instagram"></a>
      <a href="https://www.linkedin.com/in/diego-arias-168770246" target="_blanks"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
      <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged"> Ingreso </button>
      <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged"> Cerrar Sesión </button>
    </div>

  </div>

</div>

