.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logoAP {
  width: 130px;
  margin-left: 20px;
}

img {
  width: 30px;
}

.redes-sociales {
  margin-right: 20px;
}

.redes-sociales img{
  margin: 3px;
}

button{
  margin-left: 10px;
  border-width: medium;
}

/*--- Para la vista de celular ---*/
@media (max-width: 575px){
  .container{
      flex-direction: column;
  }
  /* .redes-sociales{
      display: flex;
      flex-direction: column;
      align-items: center;
  } */

  .redes-sociales img{
      margin: 0.2em;
  }
}
